<ul class="nav nav-pills nav-center top">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/listings">Listings</a></li>
  <li role="presentation"><a href="/about">About</a></li>
  <li role="presentation"><a href="/contact">Contact</a></li>
</ul>
